body {
    background-image:url(app3-background-img.png);
}

.img-whatsapp {
    display: flex;
    justify-content: center;
}

.img-whatsapp-container {
    background-color: white;
    text-shadow: 85px 85px 10px gray;
    box-shadow: 10px 10px 10px black;
    border-radius: 25%;
}

.img-whatsapp-container a img {
    width: 18vw;
    animation: 5s infinite tourne;
}

@keyframes tourne {
    0%,50%{}
    100%{transform: rotateZ(360deg);}
}

h2 {
    font-family: Andale Mono, monospace;
    font-size:1.1em;
}

#container {
    display: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bloc1 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 5px;
    height: 100%;
    padding: 10px;
    margin: 20px;
    box-shadow: 10px 10px 10px black;
}

.bloc2 {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.bloc2 a {
    text-decoration: none;
    font-family: Nunito S,sans-serif;
    color: rgb(0, 0, 0);
    font-size:1.4em;
}

.bloc2 a:hover {
    color: white;
}

.bloc2 img {
    width: 39vw;
}

.bloc2 img:hover {
    opacity: 0.6;
}

.bloc3 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.bloc3 img {
    width: 20vw;
}

.bloc3 img:hover {
    width: 25vw;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-socialnetwork {
    justify-content: center;
    text-align: center;
}

.footer-copyright {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}